@font-face {
    font-family: 'cormorant-garamond';
    src: url('/fonts/cormorant-garamond.ttf') format('truetype');
  }

@font-face {
    font-family: 'crimson-roman';
    src: url('/fonts/crimson-roman.ttf') format('truetype');
  }